.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  max-width: 1200px;
  margin-top: -100px;
}

.loginContainer h1 {
  margin: 0;
  padding: 0;
  font-size: 80px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-right: 15px; 
  border-right: 1px solid black; 
  display: inline-block;
  margin-bottom: 150px;
  font-weight: 100;
  position: absolute;
  top: 15%;
  right: 80%; 
}

.loginForm {
  margin-left: 150px;
  width: 600px; 
  height: 600px;
  padding: 20px; 
  /* background-color: rgba(209, 223, 238, 0.6);  */
  background-color: rgba(188, 201, 217, 0.5); 
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding-top: 100px;
}

.loginLabel {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

.loginLabel input {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginMessage {
  color: red;
  margin-bottom: 16px;
}

.loginButtonWrapper {
  text-align: center;
  margin-top: 50px;
}


.loginButtonWrapper button {
  font-family: 'DM Serif Text', serif;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 25px;
  width: 150px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  height: 60px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 20px;
  font-weight: 100;
}

.signinImageWrapper {
  position: absolute;
  top: 70%;
  right: -20%;
  height: 100%;
  background: url('../../assets/img/signin.jpg');
  background-size: cover;
  width: 80%;
}

