.loginContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.loginFormWrapper {
  margin-bottom: 0;
  margin-left: 5%;
}

.loginContainer h1 {
  max-height: 50%;
  font-size: 60px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  padding-right: 50px; 
  border-right: 2px solid #854621; 
  color: #854621;
  display: inline-block;
  margin-bottom: 5vh; 
  margin-top: 5vh;
  font-weight: 100;
  padding: 0;
  padding-right: 15px;
}


.loginContainer p {
  text-align: center;
  font-size: 20px;
  margin-right: 250px;
  font-weight: 100;
  color: #eae0d5;
}

.loginFormContainer  {
  height: 75vh;
  width: 40vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  background-color: rgba(107, 77, 56, 0.9);
  padding: 10%;
}

.loginFormContainer  {
  max-height: 100%;
  overflow-y: auto; 
}

.loginFormContainer  .centeredText {
  width: 200px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 90px;
  margin-right: 0px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eae0d5;
  padding-top: 20px;
  border-top: solid 1px #eae0d5;
}


.loginFormContainer  label,
.loginFormContainer  input {
  margin-bottom: 15px;
  width: 100%;
}



.loginFormContainer label {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 15px;
  padding-bottom: 30px;
  text-align: center;
  color: #eae0d5;
}

.loginFormContainer input {
  height: 30px;
  font-size: 14px;
  font-style: italic;
  width: 300px;
  border: none;
  outline: none;
  margin-top: 1vh;
}


.inputLoginWrapper input {
  background-color: white;
  padding: 10px; 
  box-sizing: border-box;
}


.loginButtonWrapper button {
  font-family: 'Ortica Linear', sans-serif;
  color: #eae0d5;
  border-top: 1px solid #eae0d5;;
  border-bottom: 1px solid #eae0d5;;
  padding: 15px 15px;
  width: 100px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  height: 50px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 15px;
  font-weight: 100;
}

.cancelLink {
  padding: 15px 25px;
  margin-right: 45px;
  width: 100px;
  height: 50px;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #eae0d5;
  background-color: transparent;
  border-top: 1px solid #eae0d5;
  border-bottom: 1px solid #eae0d5;
}

.cancelLink:hover,
.loginButton:hover {
  color: rgba(107, 77, 56, 1);
  background-color: #eae0d5;
}

.loginImageWrapper {
  flex: 1;
}


.loginImageWrapper {
  width: 450px;
  height: 650px;
  background: url('../../assets/img/signin.jpg');
  background-size: cover;
  max-width: 450px;
  max-height: 650px;
  margin-top: -60vh;
  margin-right: 170px;
  margin-left: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.message {
  color: #eae0d5;
}