/* Main Container */
.landingMainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Search and Themes Container */
.searchThemesContainer {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-top: 0;
  z-index: 1;
}

.searchpost {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  margin-right: 50px; 
}

/* Themes Wrapper */
.themeWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-right: 50px;
  margin-top: 50px;
}

.desert button {
  margin-left: 10px;
  font-family: 'Ortica Linear', sans-serif;
  color: black;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0px 10px;
  width: 60px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  height: 60px;
  outline: none;
  background: transparent;
  border-radius: 0; 
  font-size: 10px;
  font-weight: 100;
  color: white;
}

.desert button:hover {
  color: #704429;
}

.nordic button {
  margin-left: 10px;
  font-family: 'Ortica Linear', sans-serif;
  color: black;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0px 10px;
  padding-bottom: 0;
  width: 60px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  height: 60px;
  outline: none;
  background: transparent;
  border-radius: 0; 
  font-size: 10px;
  font-weight: 100;
}

.nordic button:hover {
  color: #4c5b6c;
}

/* Banner */
.bannerWrapper {
  height: 50%;
}

.nordic.banner {
  height: 100%; 
  background: url('../../assets/img/default.jpg');
  background-size: cover;
  width: 100%;
  margin-top: 10px;
}

.nordic h1 {
  font-family: 'DM Serif Text', sans-serif;
  color: black;
  height: 100vh;
}


.nordic.columnOne {
  margin-top: 50px;
  margin-left: 50px;
  background: url('../../assets/img/default-pic2.jpg');
  background-size: cover;
  max-width: 40%;
}

.desert.banner {
  height: 100%; 
  margin-top: 10px;
  background: url('../../assets/img/desert.jpg');
  background-size: cover;
  width: 100%;
}

.desert.columnOne  {
  height: 100%; 
  background: url('../../assets/img/desert-pic2.jpg');
  background-size: cover;
  width: 100%;
}

.desert h1 {
  color: white;
  height: 100vh;
  font-family: 'DM Serif Text', sans-serif;
}


.bannerWrapper h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: -30px;
  font-weight: 400;
  font-size: 90px;
}

/* Two Columns Container */
.twoColumnsContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch; 
  margin-bottom: 20px;
  margin-left: 8%;
}

/* Column One */
.columnOne {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  max-width: 35%;
  max-height: 90%;
  padding-left: 50px;
  height: 100%;
  margin-top: 2%;
}

/* Column */
.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  padding-top: 0;
  max-width: 40%; 
  margin-right: 20%;
  margin-top: 0;
  padding-bottom: 5%;
  height: 100%;
}

.column img {
  width: 70%;
  height: auto;
}

.column p {
  font-size: 15px;
  font-weight: 500;
  width: 200px;
  text-align: center;
  font-weight: 100;
  z-index: 1;
  margin-top: -20%;
  margin-left: 30%;
  margin-bottom: 20%;
}

.column h5 {
  font-size: 120px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10%;
  font-weight: 100;
  line-height: 110px;
}

.desert.elementH5 {
  color:#845849;
}

.desert.elementP {
  color:#4c2f21;
}

.desert.customLink {
  color: #4c2f21;
  border: 1px solid #4c2f21;
}

.desert.customLink:hover {
  background-color: #4c2f21;
  color: #f0eeea;
}

.quotesWrapper {
  width: 300px; 
  opacity: 0.2; 
  width: 260px; 
  opacity: 0.1; 
}

.quotes {
  width: 100%; 
}


.linkWrapper {
  text-align: center;
  margin-top: 10px; 
  margin-left: 30%;
}

.customLink {
  text-decoration: none;
  font-size: 13px;
  color: black;
  border: 1px solid black;
  padding: 10px 25px;
  display: block;
  font-weight: 50;
  transition: background-color 0.3s, color 0.3s;
}

.customLink:hover {
  background-color: black;
  color: white;
}

/* Top Posts Section */

.topPosts {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.topPostsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 900px;
  min-height: 400px;
  margin-top: -50px;
  overflow-y: auto;
}


.topPosts img {
  margin: 10px;
}

.topPostsLines {
  display: flex;
  align-items: center;
}

.topPostsLine {
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin: 0 10px; 
}

.topPosts h3 {
  margin: 10px 15px;
  font-size: 20px;
  margin-top: 25px;
  font-weight: 100;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
  margin-bottom: 20px;
}

.landingPageArrowContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.landingPageArrow img {
  width: 50px;
  height: 35px;
  margin-bottom: 15px;
}

.landingPageArrow {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
}

.landingPageArrow img:hover {
  cursor: pointer;
}

.landingPageArrow p {
  margin-right: 10px;
  padding-top: 20px;
  font-weight: 100;
  font-size: 18px;
} 

















