.container {
  display: flex;
  height: 60vh;
  position: relative;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.banner img,
.column img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.column img {
  width: 60%;
  height: auto;
}

.column p {
  font-size: 25px;
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
}

.column h5 {
  font-size: 80px;
  position: absolute;
  top: 8%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 20px;
}

.quotesWrapper {
  width: 300px; 
  opacity: 0.2; 
  width: 260px; 
  opacity: 0.3; 
  position: absolute;
  top: 34%;
  left: 53%;
}

.quotes {
  width: 100%; 
}


.linkWrapper {
  text-align: center;
  margin-top: 10px; 
}

.customLink {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 15px 20px;
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 58%;
  font-weight: 50;
  transition: background-color 0.3s, color 0.3s;
}

.customLink:hover {
  background-color: black;
  color: white;
}


.topPosts {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
}

.topPostsContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topPosts h3 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.topPosts img {
  width: 30%;
  margin: 10px;
}

.topPostsLines {
  display: flex;
  align-items: center;
}

.topPostsLine {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

.topPosts h3 {
  margin: 0 20px;
}















