.changePasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
  margin-top: 20px;
}

.changePasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 55%;
  text-align: center;
  padding: 20px;
  background-color: #1e2b3a;
}

.changePasswordContainer h1 {
  font-size: 50px;
  color: #1e2b3a;
  padding-bottom: 10px;
  border-bottom: solid 1px #1e2b3a;
}

.labelInputWrapper label {
  display: block;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
  color: #f2ebe5;
}

.labelInputWrapper input{
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #f2ebe5;
}


.changePasswordBtnContainer {
  text-align: center;
}

.changePasswordBtnContainer button {
  font-family: 'Ortica Linear', sans-serif;
  color: #f2ebe5;
  border-top: 1px solid #f2ebe5;
  border-bottom: 1px solid #f2ebe5;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 10px;
  font-weight: 100;
  padding: 10px 10px;
  margin-right: 15px;
  margin-top: 20px;
}

.changePasswordBtnContainer button:hover {
  color: #1e2b3a;
  background-color: #f2ebe5;
}



