.profilePageContainer {
  display: flex;
  flex-wrap: wrap;
}

.ppHeader,
.ppAvatar,
.ppInfo,
.profilePosts,
.savedPosts {
  flex: 1 1 50%; 
  box-sizing: border-box; 
  padding: 20px; 
}

.ppHeader {
  flex-basis: 100%;
  margin-bottom: 0;
}

.ppHeader h1 {
  text-align: center;
  font-weight: 100;
}

.ppAvatar {
  flex-basis: 20%; 
}

.ppAvatar img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-top: 5%;
}

.ppBio {
  flex-basis: 60%; 
  width: 500px;
  height: 300px;
  border: solid 1px black;
  margin-top: 20px;
  margin-right: 50px;
  text-align: center;
}

.ppInfo {
  flex-basis: 20%;
  margin-left: 30px;
  line-height: 5px;
}

.followersContainer {
  flex-basis: 10%; 
  line-height: 5px;
  padding: 20px;
  border: solid 1px black;
  width: 100px;
  margin-right: 890px;
}

.profilePosts,
.savedPosts {
  flex-basis: 100%; 
}

.profilePosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.ppH h1 {
  font-weight: 100;
  text-align: center;
}

.profilePostsSection {
  flex-basis: 100%;
  width: 1200px;
  height: 900px;
  border: solid 1px black;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
}

.savedPostsContainer {
  flex-basis: 100%;
  width: 1200px;
  height: 900px;
  border: solid 1px black;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.savedPostsContainer h1 {
  font-weight: 100;
  text-align: center;
}

.savedPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.editProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.editProfileContainer h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 100;

}

.editProfileForm {
  max-width: 550px; 
  margin-top: 0;
}

.editProfileWrapper {
  margin-bottom: 15px;
  text-align: center;
}

.editProfileWrapper input {
  width: 50%;
  padding: 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 0;
  align-items: center;
  text-align: center;
  border: solid 1px black;
}

.labelWrapper label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  padding-top: 10px;
}

.editButtonWrapper {
  text-align: center;
}

.editButtonWrapper button {
  font-family: 'DM Serif Text', serif;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 25px;
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 15px;
  font-weight: 100;
  margin-top: 20px;
}

.editButtonWrapper button:hover {
  color: white;
  background-color: black;
}


/* Edit Profile Page */

.editProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 85vh;
}

.editProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 95%;
  text-align: center;
  border: solid 1px black;
  padding: 20px;
  padding-top: 0;
  background-color: #1e2b3a;
}

.editProfileContainer h1 {
  font-size: 50px;
  color: #1e2b3a;
  padding-bottom: 10px;
  border-bottom: solid 1px #1e2b3a;
}

.labelInputContainer label {
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
  color: #f2ebe5;
}

.labelInputContainer input{
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  background-color: #f2ebe5;
  border: none;
}

.labelInputContainer textarea {
  width: 50%;
  height: 75%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  background-color: #f2ebe5;
  margin-bottom: 30%;
  resize: none;
  border: none;
}


.editProfileBtn {
  text-align: center;
  padding-bottom: 30px;
}

.editProfileBtn button {
  font-family: 'Ortica Linear', sans-serif;
  color: #f2ebe5;
  border-top: 1px solid #f2ebe5;
  border-bottom: 1px solid #f2ebe5;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 10px;
  font-weight: 100;
  padding: 5px 5px;
  margin-right: 15px;
  margin-top: 20px;
}

.editProfileBtn button:hover {
  color: #1e2b3a;
  background-color: #f2ebe5;
}

.ppAvatar.editAvatar{
  margin-bottom: 0;
  padding-bottom: 0;
}


