.followersFollowingContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}


.followerFollowingContainer {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.followerContainer,
.followingContainer {
  width: 50%; 
  padding: 20px;
}

.followerContainer {
  margin-right: 50%;
}

.followingContainer {
  margin-left: 50%;
}

.ppAvatar {
  flex-basis: 20%; 
}

.ppAvatar img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 20px;
}

.backBtn {
  margin-left: 50px;
  padding-top: 0;
  width: 100%;
}

.backBtn button {
  font-family: 'Ortica Linear', sans-serif;
  color: black;
  border-top: 1px solid transparent;
  border-bottom: 1px solid black;
  width: 80px;
  height: 50px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 15px;
  font-weight: 100;
  padding: 10px 10px;
  margin-right: 15px;
  margin-top: 20px;
}

.backBtn button :hover {
  color: white;
  background-color: black;
}