.editPostContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 100%; 
  overflow-x: hidden; 
  margin: 0 auto; 
}

.editPostContainer h3 {
  margin-top: 0;
  font-size: 60px;
  font-weight: 100;
  color: #000; 
  border-bottom: solid 1px black;
}

.editPostForm {
  padding: 20px;
  width: 600px;
  height: 900px;
  background: url('../../assets/img/editBackground.jpeg');
  background-size: 100% 90%;
  background-position: cover;
  background-repeat: no-repeat;
}

.editPostForm.nordic {
  padding: 20px;
  width: 600px;
  width: 600px;
  height: 900px;
  background: url('../../assets/img/edit-post-nordic.jpg');
  background-size: 100% 90%;
  background-position: cover;
  background-repeat: no-repeat;
} 

.editPostForm.desert {
  padding: 20px;
  width: 600px;
  width: 600px;
  height: 900px;
  background: url('../../assets/img/edit-post-desert.jpg');
  background-size: 100% 90%;
  background-position: cover;
  background-repeat: no-repeat;
} 


.editPostWrapper {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}


.editPostWrapper textarea {
  height: 150px;
  font-size: 14px;
  font-style: italic;
  border: none;
  width: 305px;
  margin-left: 5px;
  border-radius: 0;
} 

.editPostWrapper label {
  display: block;
  font-size: 20px;
  font-weight: 100;
  font-weight: 100;
  margin-bottom: 5px;
  text-align: center;
}

.editPostWrapper:first-child label {
  padding-top: 25px; 
}


.editPostWrapper .makePublicLabel {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.editPostWrapper.desert {
  color: white;
}

.editPostWrapper .makePublicLabel.desert {
  font-size: 14px;
  font-weight: 400;
  color: white;
}


.editPostForm input {
  height: 40px;
  font-size: 19px;
  font-style: italic;
  width: 300px;
  padding: 10px;
  border-radius: 0;
}

.editPostForm input:focus,
.editPostForm textarea:focus {
  outline: none;
}


.editPostWrapper input,
.editPostWrapper textarea {
  padding: 20px;
  font-size: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.editPostButton {
  text-align: center;
}

.editPostButton button {
  font-family: 'Ortica Linear', sans-serif;
  font-weight: 100;
  cursor: pointer;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 100px;
  height: 50px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 25px;
}

.editPostButton button:hover {
  background: black; 
  color: white; 
}

.editPostButton.desert button {
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.editPostButton.desert button:hover {
  background: white; 
  color: black; 
}

.editPostWrapper .checkbox {
  width: 15px;
  height: 15px;
} 