.postcardContainer {
  width: 270px;
  height: 300px;
  padding: 20px 25px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  
}

.postcardContainer header {
  margin-bottom: 14px;
}

.postcardContainer h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postcardContainer p {
  width: 100%;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
  line-height: 1rem;
  padding-bottom: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
	word-break: break-all;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.imageContainer {
  height: 40%;
}

.infoContainer {
  display: flex;
}

.infoContainer img {
  width: 10px;
  margin: 0;
  padding: 0;
}

.infoContainer p {
  margin: 5px;
}