.recCardContainer {
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc; 
  padding: 10px;
  padding-bottom: 20px;
  width: 400px; 
  height: 500px;
  background-color: #383230; 
  color: white;
  overflow-y: auto;
}

.recCardContainer button {
  font-family: 'Ortica Linear', sans-serif;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 25px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 10px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.recCardContainer button:hover {
  color: black;
  background-color: white;
}

.recCardContainer span {
  font-weight: 100;
  font-size: 15px;
  border-bottom: solid 1px white;
}

.recCardContainer h4 {
  font-weight: 100;
  font-size: 20px;
} 

.recCardContainer h2 {
  font-weight: 100;
}

.recCardContainer p {
  white-space: pre-wrap;
  font-size: 15px;
}