.profilePageContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vh;
  max-height: 100%;
}

.ppHeader,
.ppAvatar,
.ppInfo,
.profilePosts,
.savedPosts {
  flex: 1 1 50%; 
  box-sizing: border-box; 
  padding: 20px; 
}

.ppHeader {
  height: 10vh; 
  flex-basis: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.editProfileButton {
  text-align: left;
  margin-top: 50px;
}

.ppHeader h1 {
  text-align: center;
  font-weight: 100;
  width: 400px;
  margin-left: 35%;
  margin-top: 25%;
  border-bottom: solid 1px black;
  padding-bottom: 15px;
}

.ppAvatar {
  flex-basis: 20%; 
}

.ppAvatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 13%;
}



.editProfileButton button {
  font-family: 'Ortica Linear', sans-serif;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 130px;
  height: 60px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 10px;
  font-weight: 100;
  color: black;
  padding: 10px 10px;
  margin-right: 15px;
  margin-top: 20px;
}


.editProfileButton button:hover {
  color: white;
  background-color: black;
}

.ppBio {
  flex-basis: 60%; 
  max-width: 600px;
  height: 250px;
  overflow: auto;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-top: 20px;
  margin-right: 150px;
  text-align: center;
  padding: 10px;
  white-space: pre-wrap;
}

.ppInfo {
  flex-basis: 20%;
  margin-left: 30px;
  line-height: 5px;
  margin-left: 50px;
}

.followersContainer {
  flex-basis: 15%; 
  line-height: 5px;
  padding: 10px;
  padding-top: 6px;
  border: solid 1px black;
  width: 110px;
  height: 115px;
  margin-left: 6%;
  margin-right: 14%;
  margin-top: 3%;
}


.profilePosts,
.savedPosts {
  flex-basis: 100%; 
}

.profilePosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.topContributor {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topContributor h1 {
  font-weight: 100;
  width: 100%;
  padding-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  border-bottom: solid 1px black;
  display: inline-block;
}

.topContributorIcon {
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 200%;
}

.profilePostsSection {
  flex-basis: 100%;
  width: 1200px;
  height: 900px;
  border: solid 1px black;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 100px;
  text-align: center;
  overflow-y: auto;
  padding-left: 2%;
}

.savedPostsContainer {
  flex-basis: 100%;
  width: 1200px;
  height: 900px;
  border: solid 1px black;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 6%;
  overflow-y: auto;
}

.savedPostsContainer h1,
.profilePostsSection h1 {
  font-weight: 100;
  max-width: 400px;
  margin-left: 33%;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px black;
}


.savedPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.savedPosts.deleteIcon {
  background-color: transparent;
  outline: none;
}

.deleteIcon {
  width: 10px;
}

