.allProfilesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 30px;
}

.allProfilesContainer > p {
  margin: 8px;
  display: flex;
  align-items: center;
}

.allProfilesContainer p {
  font-size: 18px;
  margin-right: 10px;
}

.allProfilesContainer p:hover {
  color: #5a7480;
}

.allProfilesContainer > a {
  display: flex;
  align-items: center;
  margin: 8px;
}

.allProfilesLines {
  display: flex;
  align-items: center;
}

.allProfilesLine {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

.allProfilesContainer h1 {
  width: 100%;
  font-weight: 60;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  margin-top: 10px;
  max-width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: solid 1px black;
}

.allProfilesContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.contentContainer h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.namesContainer {
  flex: 1;
  border-right: solid 1px black;
  border-top: solid 1px black;
  margin-right: 90px;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  height: 100%;
}

.communityImg img {
  width: 500px;
  height: 650px;
  border-radius: 0;
  margin-right: 70px;
  margin-top: 30px;
}
