.editRecContainer {
  margin-top: 150px;
  background-color: #383230;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
}

.editRecForm {
  text-align: center; 
  width: 500px;
  max-width: 500px; 
}

.editRecForm label,
.editRecForm select,
.editRecForm textarea,
.editRecForm input {
  margin-bottom: 10px;
  width: 100%; 
}


.editRecForm label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 15px;
}

.editRecForm input {
  height: 30px;
  font-size: 14px;
  font-style: italic;
  border: solid 1px black;
  width: 250px;
  padding: 10px;
  outline: none;
}

.editRecForm select {
  font-size: 14px;
  font-style: italic;
  border: solid 1px black;
  height: 30px;
  width: 250px;
  margin-left: 5px;
  outline: none;
}

.editRecForm textarea {
  height: 90px;
  font-size: 14px;
  font-style: italic;
  border: solid 1px black;
  width: 250px;
  border-radius: 0;
  padding: 10px;
  outline: none;
}

.editRecBtn button {
  display: block;
  align-items: center;
  margin: 0 auto;
  margin-top: 0px;
}
