.container {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed; 
  padding: 5px 21px;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
}


.container li {
  margin-left: 40px;
  text-align: right;
}

@keyframes menuItemClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.container li:hover {
  animation: menuItemClick 0.3s; 
}


.icon {
  cursor: pointer;
}

.icon img {
  width: 30px; 
  height: auto;
}


.line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px auto;
}

.dropdownMenu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdownMenu li {
  padding: 10px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.fixed ul {
  justify-content: flex-start;
}



