.exploreListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.exploreListHeading h1 {
  font-weight: 100;
  font-size: 70px;
  color: black;
}



.postCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-left: 25%;
}

.postCardContainer p {
  text-align: center;
  width: 450px;
  margin-left: 45%;
}

.exploreBtn button {
  font-family: 'Ortica Linear', sans-serif;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
  font-size: 15px;
  font-weight: 100;
  color: black;
  padding: 10px 10px;
  margin-top: 50%; 
}

.exploreBtn button:hover {
  color: white;
  background-color: black;
}