.mainContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 100px;
  grid-template-areas:
    "cardDetailsContainer likeAndSaveBtn"
    "cardDetailsBtn recommendationsContainer"
    "commentsContainer commentsContainer";
    height: 100%;
}

.cardDetailsContainer {
  grid-area: cardDetailsContainer;
  padding: 50px;
  width: 1400px;
  height: 800px;
  display: flex;
}

.textContainer {
  flex: 1;
  padding: 20px; 
}

.textContainer h1 {
  font-size: 50px;
  font-weight: 100;
  border-left: solid 1px black;
  padding-left: 20px;
}

.cardLocation p {
  font-size: 20px;
  font-weight: 100;
  padding-left: 25px;
  margin-top: -30px;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.likeAndSaveBtn {
  grid-area: likeAndSaveBtn;
  display: flex;
  align-items: center;
}

.likeAndSaveBtn button {
  margin-right: 10px; 
}

.likeCount,
.saveCount {
  margin-right: 20px; 
  padding: 10px;
}

.likeCount {
  margin-left: 55px;
}

.likeImg,
.saveImg {
  width: 15px; 
  height: 15px;
}

.cardDetailsBtn {
  grid-area: cardDetailsBtn;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 200px;
}

.cardDetailsBtn button,
.likeBtn,
.saveBtn {
  font-family: 'DM Serif Text', sans-serif;
  font-weight: 100;
  cursor: pointer;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 150px;
  height: 60px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  margin: 0;
  border-radius: 0;
  margin-bottom: 20px;
  margin-left: 40px;
}

.likeBtn,
.saveBtn {
  margin-top: 53px;
}

.cardDetailsBtn button:last-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.cardDetailsBtn button:hover {
  background: black; 
  color: white; 
}

.likeBtn:hover {
  background: black; 
  color: white; 
}

.saveBtn:hover {
  background: black; 
  color: white; 
}

.cardDetailsBtn button:first-child {
  margin-top: 50px;
}


.recommendationsContainer {
  grid-area: recommendationsContainer;
  position: absolute;
  top: 880px;
  right: 100px;
  padding: 50px;
  margin-bottom: 50px;
}

.commentsContainer {
  grid-area: commentsContainer;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 30px;
  background-color: white;
  border: solid 1px black; 
  padding: 20px;
  margin-top: 80px;
  padding: 10px;
  padding: 50px;
  padding-top: 30px;
}

.commentsContainer h3 {
  font-weight: 100;
  text-align: center;
}

/* .blackRectangle {
  position: absolute;
  left: 600px;
  background-color: black;
  width: 700px; 
  height: 500px; 
} */





