.cardDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; 
  padding: 10px 50px;
  max-width: 700px;
  max-height: 700px;
  padding-bottom: 0;
}

/* First Row */
.textContainer {
  flex-basis: 25%;
  max-width: 530px;
  padding: 20px; 
  overflow: scroll;
  max-height: 900px;
  padding-bottom: 0;
}

.textContainer h1 {
  font-size: 40px;
  font-weight: 100;
  border-left: solid 1px black;
  padding-left: 20px;
}

.cardLocation p {
  font-size: 15px;
  font-weight: 100;
  padding-left: 25px;
  margin-top: -30px;
}

.cardContent {
  white-space: pre-wrap;
}

.imageContainer {
  flex-basis: 70%;
  display: flex;
  max-height: 600px;
  max-width: 400px;
  margin-left: 1%;
  margin-right: 2%;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 15%;
}


.imageContainer button {
  width: 25px;
  height: 25px;
  margin-top: 130%;
}

.imageCollection {
  padding-top: 100px;
  max-width: 110px;
}

.imageContainer .imageButtons button {
  width: 25px;
  height: 25px;
  margin-right: 100px;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.imageButtons {
  display: flex;
  margin-top: 20px;
  margin-left: 430px;
}

.imageButtons button {
  border: none;
  background: none;
  font-size: 15px;
}

.imageButtons button:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.716);
  color: white;
  cursor: pointer;
}

.cardDetailsBtnContainer {
  display: flex;
}

.likeAndSaveBtn {
  display: flex;
  align-items: center;
}


.likeAndSaveBtn button {
  margin-right: 10px; 
}

.likeCount,
.saveCount {
  margin-right: 20px; 
  padding: 10px;
  margin-top: 5%;
}

.likeCount {
  margin-left: 55px;
}

.likeImg,
.saveImg {
  width: 10px; 
  height: 10px;
}

.savedLikedContainer {
  display: flex;
  padding: 15px;
  margin-top: 66px;
}

.savedLikedContainer .liked {
  margin-right: 10px;
}

.savedLikedContainer .liked,
.savedLikedContainer .saved  {
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

.cardDetailsBtn {
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 40px;
  float: left;
}

.cardDetailsBtn button,
.likeBtn,
.saveBtn,
.cardPhotosBtn button {
  font-family: 'Ortica Linear', sans-serif;
  font-weight: 100;
  cursor: pointer;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 150px;
  height: 60px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  margin: 0;
  border-radius: 0;
}

.cardDetailsBtn .editBtn,
.cardDetailsBtn .deleteBtn {
  padding-top: 18px;
}

.likeBtn,
.saveBtn {
  margin-top: 53px;
  margin-left: 60px;
}

.cardDetailsBtn button:last-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.cardDetailsBtn button:hover,
.cardPhotosBtn button:hover {
  background: black; 
  color: white; 
}

.likeBtn:hover {
  background: black; 
  color: white; 
}

.saveBtn:hover {
  background: black; 
  color: white; 
}

.cardDetailsBtn button:first-child {
  margin-top: 50px;
  margin-right: 50px;
}

.cardPhotosBtn button {
  margin-right: 50px;
  margin-top: 20px;
  margin-left: 20px;
  float: right;
  max-width: 150px;
  height: 60px;
}

.cardPhotosBtn button:first-child {
  margin-right: 140px;
}


.cardDetailsContainer {
  display: flex;
  justify-content: space-between;
}

.cardDetailsBtn,
.cardPhotosBtn {
  flex-basis: 48%;
}


.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Second Row */

.secondRow {
  display: flex;
  justify-content: center;
}


.recommendationsContainer {
  flex-basis: 35%;
  max-width: 300px;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 100px;
  /* margin-right: -200px; */
  margin-top: 20px;
  padding-right: 0;
}


.commentsContainer {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  background-color: white;
  border-top: solid 1px black; 
  border-right: solid 1px black; 
  margin-top: 100px;
  /* margin-left: -300px; */
  padding-right: 5%;
}

.commentsContainer h3 {
  height: 200px;
  padding-top: 50px;
  padding-right: 60px;
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  background: url('../../assets/icons/comments.png');
  background-size: 90px; 
  background-position: 45px 0;
  background-repeat: no-repeat;
}




