.uploadPhotoContainer {
  display: flex;
  flex: wrap;
  align-items: center;
}

.uploadPhotoForm {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  max-width: 50px;
}

.uploadPhotoForm label,
.uploadPhotoForm input,
.uploadPhotoForm button {
  display: block;
  float: right;
}


.uploadPhotoContainer  input[type="file"] {
  font-size: 10px;
}

.uploadPhotoContainer button {
  width: 50px;
}
.uploadPhotoContainer  
.uploadPhotoButton,
.uploadPhotoContainer .fileInputButton {
  width: 100px;
  height: 45px;
}





