.recCard {
  /* position: fixed;
  bottom: 600px;
  right: 20px; */
  width: 200px; /* Adjust the width as per your design */
  background-color: #e0e0e0; /* Set your desired background color */
  border: 1px solid #ccc; /* Add a border for visual separation */
  padding: 10px; /* Add padding for content */
  box-sizing: border-box; /* Include padding in width and height */
}

.recCard p {
  margin: 0; /* Remove default margin for paragraphs */
}

.recCard label,
.recCard select,
.recCard input {
  margin-bottom: 10px; /* Add some spacing between elements */
  width: 100%; /* Make elements fill the width of the card */
}

.recCard button {
  width: 100%; /* Make the button fill the width of the card */
}
