.recCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px; 
  background-color: white; 
  border-top: 1px solid black; 
  border-left: solid 1px black; 
  padding: 20px; 
  box-sizing: border-box;
}

.recCard h1 {
  font-weight: 100;
}

.recCard p {
  margin: 0; 
}

.recCard label,
.recCard select,
.recCard input,
.recCard textarea {
  margin-bottom: 30px;
  width: 100%;
}

.recCard input,
.recCard select,
.recCard textarea {
  margin-left: auto;
  margin-right: auto;
}

.recCard label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.recCard input {
  height: 30px;
  font-size: 10px;
  font-style: italic;
  border: solid 1px black;
  width: 250px;
  padding: 10px;
  outline: none;
}

.recCard select {
  font-size: 10px;
  font-style: italic;
  border: solid 1px black;
  height: 30px;
  width: 250px;
  margin-left: 5px;
  outline: none;
}

.recCard textarea {
  height: 90px;
  font-size: 14px;
  font-style: italic;
  border: solid 1px black;
  width: 300px;
  margin-left: 5px;
  border-radius: 0;
  padding: 10px;
  outline: none;
}


.recCard button {
  font-family: 'Ortica Linear', sans-serif;
  cursor: pointer;
  font-size: 10px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 100px;
  height: 40px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0;
  margin-left: 100px;
  margin: 20px auto; 
}

.recCard .submitButton {
  margin: 20px auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  display: block;
}


.recCard button:hover {
  background: black; 
  color: white; 
} 
