.container {
  padding: 10px;
}

.container img {
  height: 100px;
}

.container button {
  float: right;
  padding: 0;
  margin: 0;
  background: none;
}

.container button:hover {
  font-size: larger;
}