.morePhotosContainer {
  outline: none; 
}

.morePhotosContainer .userImg {
  max-height: 150px;
  max-width: 100px;
  overflow: hidden;
}

.morePhotosContainer button {
  float: left;
  padding: 0;
  margin: 0;
  background: none;
  outline: none; 
  border: none;
}

.morePhotosContainer .deleteIcon {
  max-width: 15px;
  max-height: 15px;
  cursor: pointer;
}

.morePhotosContainer button:hover {
  font-size: larger;
}
