@font-face {
  font-family: 'Ortica Linear';
  src: url('./assets/OrticaLinear-Regular.otf');
  font-family: 'DM Serif Text';
  src: url('./assets/DMSerifText-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ortica Linear', sans-serif;
}

#root {
  height: 100%;
}

body {
  overflow: auto;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.banner {
  height: 80%; 
  background: url('../../assets/img/default.jpg');
  background-size: cover;
  width: 100%;
}

/* Nordic Theme */
.container.nordic {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dessert Theme */
.container.dessert {
  --bg-color: #ffcccb;
  --text-color: #8b4513;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}