/* *,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
} */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DM Serif Text';
  src: url('src/assets/DMSerifText-Regular.ttf') format('truetype');
}

html, body {
  margin: 0;
  height: 100%;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Serif Text', sans-serif;

  --primary: #00a0df;
  --background: #f2f4f8;
  --card-background: white;
  --border: rgb(220, 220, 220);
}

#root {
  height: 100%;
}

body {
  overflow: auto;
  padding-top: 80px;
}

/* article img {
  width: 80px;
} */

/* h1, h3 { margin: 7px 0px 14px 0px; } */

/* h1 {
  font-size: 28px;
  font-weight: 600;
} */

/* h3 {
  font-size: 20px;
  font-weight: 500;
} */

/* h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
} */

/* h5 {
  font-size: 12px;
  font-weight: 500;
} */
/* 
p {
  margin: 0;
  opacity: .4;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  text-align-last: center;
} */

a {
  color: black;
  text-decoration: none;
}

/* form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: white;
  padding: 21px 21px 28px 21px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
} */

/* Nav Bar */
.container {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed; 
  padding: 14px 21px;
  align-items: center;
  /* background: white; */
  border-bottom: 1px solid rgb(200, 200, 200);
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 40px;
  text-align: right;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}