.container {
  padding: 0;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  box-shadow: none;
  flex-direction: row;
  align-items: center;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.commentTextarea {
  outline: none; 
  height: 150px;
  font-size: 15px;
  font-style: italic;
  height: 100px;
  width: 400px;
  margin-left: 5px;
  border-radius: 0;
  padding: 10px;
}

.container button {
  margin: 0;
}

.sendArrow .send {
  width: 40px;
  height: 40px;
}

.container button[type="submit"] {
  width: 50px;
  height: 50px;
  display: flex;
  margin-left: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.container button[type="submit"]:hover {
  cursor: pointer;
}
