.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

h1 {
  font-size: 80px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-right: 15px; 
  border-right: 1px solid black; 
  display: inline-block;
  margin-bottom: 150px;
  font-weight: 100;
  margin-left: -10px;
}


form {
  margin-top: -350px; 
  width: 100%; 
  max-width: 950px; 
  padding: 20px; 
  background-color: rgba(176, 176, 176, 0.1); 
  background-size: cover;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}


label, input, textarea {
  font-size: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
}

.buttonWrapper {
  text-align: center;
  margin-top: 20px;
}

.buttonWrapper button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 15px 20px;
  width: 150px;
}

.buttonWrapper button:hover {
  background-color: black;
  color: white;
}

.inputWrapper {
  margin-bottom: 20px; 
  text-align: center;
}

.inputWrapper label {
  display: block;
  margin-bottom: 20px;
}

.inputWrapper textarea {
  min-width: 350px;
  min-height: 150px;
  border: solid 1px black;
}

.inputWrapper input {
  max-width: 300px;
  border: solid 1px black;
}

.imageWrapper {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 30%;
  background: url('../../assets/img/form.jpg');
  background-size: cover;
  width: 50%;
  transform: rotate(90deg);
}



