.newPostContainer {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px black; */
  height: 100vh;
}

.newPostContainer h1 {
  font-size: 80px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  padding-right: 50px; 
  border-right: 2px solid black; 
  display: inline-block;
  margin-bottom: 150px;
  margin-top: 150px;
  font-weight: 100;
}

.newPostH1.desert {
  /* color: rgb(109, 66, 16); */
  color: #7a5237;
  border-right: 2px solid #7a5237; 
}

.newPostFormContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px; 
  background-color: #1e2025;
}

.newPostFormContainer {
  width: 800px;
  height: 900px;
  margin-top: 200px;
}

.newPostFormContainer input,
.newPostFormContainer textarea {
  outline: none;
  border: solid 1px white;
}

.newPostFormContainer.desert {
  background-color: #be996f;
}

.imageWrapper {
  flex: 1;
}

.imageWrapper.nordic {
  background: url('../../assets/img/form.jpg');
  background-size: cover;
  max-width: 500px;
  max-height: 600px;
  margin-top: 700px;
  margin-right: 10%;
  margin-left: -10%;
  background-repeat: no-repeat;
}

.imageWrapper.desert {
  background: url('../../assets/img/desert-form.jpg');
  background-size: 100% 100%;
  max-width: 500px;
  max-height: 600px;
  margin-top: 700px;
  margin-right: 50px;
  margin-left: -140px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}



.newPostFormContainer label,
.newPostFormContainer select,
.newPostFormContainer input,
.newPostFormContainer textarea {
  margin-bottom: 30px;
  width: 100%;
}

.newPostFormContainer input,
.newPostFormContainer textarea {
  margin-left: auto;
  margin-right: auto;
}

.newPostFormContainer label {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.newPostFormContainer input {
  height: 40px;
  font-size: 18px;
  font-style: italic;
  padding: 5px;
  width: 350px;
  padding: 10px;
}

.newPostFormContainer textarea {
  height: 100px;
  font-size: 18px;
  font-style: italic;
  width: 350px;
  height: 250px;
  margin-left: 5px;
  border-radius: 0;
}


.inputWrapper input,
.inputWrapper textarea {
  background-color: white;
  padding: 15px; 
  box-sizing: border-box;
}


.newPostFormContainer button {
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: none; 
  border-right: none;
  width: 150px;
  height: 50px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0;
  margin-left: 100px;
  margin: 20px auto; 
}

.newPostFormContainer  button:hover {
  background: white; 
  color: black; 
} 

.inputWrapper .checkbox {
  width: 20px;
  height: 20px;
} 







