.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  max-width: 1200px;
}

.container h1 {
  margin: 0;
  padding: 0;
  font-size: 80px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-right: 15px; 
  border-right: 1px solid black; 
  display: inline-block;
  margin-bottom: 150px;
  font-weight: 100;
  position: absolute;
  top: 13%;
  right: 80%; 
}

.container form {
  margin-top: -250px; 
  margin-left: 150px;
  width: 100%; 
  max-width: 950px; 
  padding: 20px; 
  background-color: rgba(176, 176, 176, 0.1); 
  background-size: cover;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}



.container label, input, textarea {
  font-size: 20px;
}

.container button {
  font-size: 18px;
  padding: 10px 20px;
}

.buttonWrapper {
  text-align: center;
  margin-top: 50px;
}

.buttonWrapper button {
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 20px;
  width: 150px;
  cursor: pointer;
  border-left: none; 
  border-right: none;
  width: 150px;
  height: 50px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0; 
}

.buttonWrapper button:hover {
  background-color: black;
  color: white;
}

.inputWrapper {
  margin-bottom: 20px; 
  text-align: center;
}

.inputWrapper label {
  display: block;
  margin-bottom: 20px;
}

.inputWrapper textarea {
  max-width: 350px;
  min-height: 150px;
  border: solid 1px black;
  border-radius: 10px;
}

.inputWrapper input {
  max-width: 300px;
  border: solid 1px black;
  border-radius: 5px;
  height: 50px;
}

.inputWrapper label {
  display: block;
  margin-bottom: 10px;
}

.inputWrapper .checkbox {
  position: absolute;
  top: 77%;
  right: 50%;
}


.imageWrapper {
  position: absolute;
  top: 20%;
  right: 1%;
  height: 30%;
  background: url('../../assets/img/form.jpg');
  background-size: cover;
  width: 40%;
  transform: rotate(90deg);
}









